/* Project Gallery 18/07/2022 by Laura Keating */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Ubuntu", sans-serif
}

h1 {
  position:relative;
  color:BLACK;
  opacity: 0.8;
  top:40px;
  font-size: 300%;
  text-align: center;
  padding: 100px;
}

h2 {
  font-size: 200%;
  color:BLACK;
  opacity: 0.8;
}

h3 {
  font-size: 100%;
  color:BLACK;
  opacity: 0.8;
  padding-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  color:BLACK;
  opacity: 0.8;
  font-size: 100%;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

/* BUTTON */
.button {
  background-color: black;
  opacity: 0.75;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

/* flexbox */

ul {
  list-style: none;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
  background-color: lightgray;
  border:0.1em solid black;
  justify-content: center;
  text-align: center;
  height:450px;
}


.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  width: 60%;
  height: 60%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:10%;
  vertical-align: middle;
  border-radius: 5px;
}


.container {
  padding: 40px 5%;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}


  @media all and (max-width:30em){
    a.button1{
      display:block;
      margin:0.4em auto;
    }
  }

  @media only screen and (max-width: 1200px)  {
    .image-gallery > li  {
      flex-basis: 300px;
      height:350px;
    }
  
.container {
  padding: 10px;
}

    a.button1{
      font-size: 80%;
    }
  }
  